{% extends 'base.html' %}

{% block title %} Polls Detail {% endblock %}
{% block content %}

    <h1 style="font-size: 35px">질문 : {{question.question_text}}</h1>
    <br/>
    {% if error_message %} <p> <strong>{{error_message}}</strong></p>{% endif %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type ="checkbox" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <label for ="choice{{forloop.counter}}">{{choice.choice_text}}</label><br><br>
    {% endfor %}
    <input type="submit" value="투표하기" class="btn btn-outline-primary">
    <button type="button" class="btn btn-outline-danger" onclick="location.href='{% url 'polls:index' %}'">뒤로가기</button>
    </form>

{% endblock %}
